.converter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  border: solid 3px green;
  border-radius: 10px;
  background-color: #e0f8e0;
  min-height: 500px;
  box-sizing: border-box;
}