.navigator {
  min-width: 405px;
  padding: 20px;
  border: solid 3px green;
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
  margin-top: -3px;
  box-sizing: border-box;

  a {
    margin: 0 20px;
    font-size: 24px;
    color: #6e856e;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #6e856e;
    }
  }
}